server:
  port: 8080
  mode: debug

database:
  driver: mysql
  host: localhost
  port: 3306
  user: root
  password: 3277975910
  dbname: agent
  max_open_conns: 100
  max_idle_conns: 10

redis:
  addr: localhost:6379
  password: ""
  db: 0